<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="format-detection" content="telephone=no" />
  <meta
    name="viewport"
    content="width=device-width, user-scalable=1, initial-scale=1, viewport-fit=cover"
  />
  <meta name="keywords" content="<%= baseMeta.keywords %>" />
  <meta name="description" content="<%= baseMeta.desc %>" />
  <meta property="og:title" content="<%= baseMeta.ttl %>" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="<%= baseMeta.desc %>" />
  <meta property="og:url" content="<%= baseMeta.url %>" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@XXXXX" />
  <meta name="twitter:creator" content="@XXXXX" />
  <title><%= baseMeta.ttl %></title>
  <link
    rel="stylesheet"
    media="print,screen"
    href="<%= baseMeta.path %>/assets/css/style.css"
  />
  <link
    rel="stylesheet"
    media="print,screen"
    href="<%= baseMeta.path %>/assets/js/lib/slick.css"
  />
</head>
